@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&family=Outfit:wght@300;400;500;600;700;800&display=swap");
@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Outfit", sans-serif;
  background-color: $bg-main;
  color: white;
}

.container {
  display: flex;
}

.menuContainer {
  max-width: 400px;
  padding: 1rem 2rem;
  border-right: 2px solid $bg-soft;
}

.contentContainer {
  width: 100%;
  padding: 1rem 2rem;
}
