@import "../../styles/variables.scss";
.title {
  margin-bottom: 2rem;
  h1 {
    font-weight: 700;
    font-size: 44px;
  }
  p {
    color: #6dd4ba;
  }
}

.home {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: minmax(180px, auto);
  .box {
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid #283041;
    background-color: #141b2d;
  }
  .box1 {
    grid-column: span 1;
    grid-row: span 2;
  }
  .box4 {
    grid-column: span 1;
    grid-row: span 2;
  }
  .box7 {
    grid-column: span 1;
    grid-row: span 1;
  }
  .box8 {
    grid-column: span 2;
    grid-row: span 1;
  }
  .box9 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
